.layers-control {
    border-radius: 5px;
    height: auto;
    width: fit-content;
    border: 1.5px solid #999;
    background-color: #fff;
    cursor: default;

    .source-wrapper {
        padding: 5px;
        font-size: 14px;

        .wrapper {
            padding-left: 0.5rem;

            .MuiCheckbox-root,
            .MuiTypography-root {
                font-size: 0.8rem;

                .MuiSvgIcon-root {
                    font-size: inherit;
                }
            }

            .MuiCheckbox-root {
                .MuiSvgIcon-root {
                    font-size: 1rem;
                }
            }

            .source {
                display: flex;
                justify-content: space-between;
                width: 75px;

                &>.MuiTypography-root {
                    &:nth-last-of-type(2) {
                        padding: 0;
                    }
                }
            }

            .MuiCollapse-root {
                .MuiFormGroup-root {
                    padding-left: 1rem;

                    .MuiFormControlLabel-root {
                        .MuiCheckbox-root {
                            padding: 0;
                        }
                    }

                    .MuiFormControlLabel-label {
                        padding-left: 5px;
                    }
                }
            }
        }
    }
}